
body {
  font-family: Arial, sans-serif;
  background: url("../admin/images/bgcvsu.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px;
  color: white;
  flex-direction: column;
  float: left;
}

.logo {
  width: 100px;
}

.title {
  font-size: 3.5em;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  text-align: center;
}

.form-container {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin-right: 60px;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 340px;
}

.form-box h3 {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.btn {
  background-color: #1a3c80;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.signup-buttons {
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

footer a {
  margin: 0 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header1 {
    background-color: rgb(0, 128, 30);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
   
}
.members {
  text-size-adjust: 50;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.backb {
 float:left;
 color: aliceblue;
}
.header2 {
    background-color: rgb(0, 128, 30);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
a{text-decoration: none;}

.histo {
 position: relative;
 background: url("/admin/images/white.jpg") center/cover no-repeat;
 padding: 2rem;
 color: rgb(0, 0, 0);
 z-index: 1;
  text-align: justify;
 text-size-adjust: 13;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgb(255, 255, 255);
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: rgb(0, 0, 0);
  line-height: 70px;
  text-align: center;
  background: rgb(255, 255, 255);
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #ffffff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.headwrapper{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
background: burlywood;
border-radius: 10px;
padding: 15px 5rem;
}

